*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}
ul[role='list'],
ol[role='list'] {
  list-style: none;
}
html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

html,
body {
  /* height: 100%; */
  min-height: 100vh;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word; /*sirve desbordar textos largos */
  /* hyphens: auto; esto agrega giones al cortar una palabra */
}
/*Typography  */
body {
  font-family: 'Inter', sans-serif;
  display: grid;
  place-items: center;
}

/* main */
.container {
  width: clamp(320px, 90%, 400px);
}
.testimonials {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
}

.testimonials__image {
  margin-inline: auto;
  width: 80%;
  /* cambiar adelante por clamp() */
}
.testimonials__image img {
  border-radius: 0.5em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.testimonials__text {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.testimonials__info {
  letter-spacing: 1px;
  font-weight: 300;
}
.testimonials__title {
  color: hsl(240, 38%, 20%);
  font-weight: 500;
}
.testimonials__job {
  color: hsl(240, 18%, 77%);
}
.button {
  background-color: #ffffff;
  border-radius: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0.7em;
  width: 28%;
  margin-inline: auto;
  margin-top: -20px;
  z-index: 200;
  position: relative;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media (min-width: 768px) {
  .container {
    width: clamp(400px, 90%, 1040px);
  }
  .testimonials {
    flex-direction: row-reverse;
    text-align: left;
    gap: 0;
    position: relative;
  }
  .testimonials__image {
    flex-grow: 1;
    flex-basis: 50%;
    margin-left: -60px;
  }
  .testimonials__text {
    flex-grow: 1;
    flex-basis: 50%;

    justify-content: center;
    position: relative;
    left: 55px;
  }
  .testimonials__info {
    font-size: 1.5em;
    letter-spacing: 1px;
    font-weight: 300;
  }
  .button {
    margin-left: 3rem;
    width: 15%;
  }
  .testimonials__employee {
    display: flex;
    gap: 1em;
  }
}
